.cycles {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.cycleDots {
    display: flex;
    gap: 1rem;
}

.cyclesDot {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--primary);
}

.workTime {
    background-color: var(--warning);
}

.shortBreakTime {
    background-color: var(--primary);
}

.longTime {
    background-color: var(--info);
}